
<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                @*<a href="forms.html"><i class="fa fa-edit fa-fw"></i>User management</a>*@
                @Html.ActionLink("User management", "Index", "User")
            </li>
            <li>
                @*<a href="forms.html"><i class="fa fa-edit fa-fw"></i>Product management</a>*@
                @Html.ActionLink("Product management", "Index", "Product")
            </li>
            <li>
                @Html.ActionLink("Discount management", "Index", "Discount")
            </li>
            <li>
                @Html.ActionLink("Create discount", "Create", "Discount")
            </li>
            <li>
                @Html.ActionLink("Order management", "Index", "OrderDetail")
            </li>
            <li>
                @Html.ActionLink("Activity Log management", "Index", "ActivityLog")
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
